/*
!/Data
/Data/Bundles
/Data/Worlds
!/Mods

/Data/Prefabs/aa_all_loot.tts
/Data/Prefabs/aa_builder_roof_01.tts
/Data/Prefabs/aa_builder_roof_02.tts
/Data/Prefabs/aa_builder_roof_03.tts
/Data/Prefabs/aa_diersville_block_01.tts
/Data/Prefabs/abandoned_house_01.tts
/Data/Prefabs/abandoned_house_02.tts
/Data/Prefabs/abandoned_house_03.tts
/Data/Prefabs/abandoned_house_04.tts
/Data/Prefabs/abandoned_house_05.tts
/Data/Prefabs/abandoned_house_06.tts
/Data/Prefabs/abandoned_house_07.tts
/Data/Prefabs/abandoned_house_08.tts
/Data/Prefabs/apartment_adobe_red_5_flr.tts
/Data/Prefabs/apartment_brick_6_flr.tts
/Data/Prefabs/army_barracks_01.tts
/Data/Prefabs/army_camp_01.tts
/Data/Prefabs/army_camp_02.tts
/Data/Prefabs/army_camp_03.tts
/Data/Prefabs/barn_01.tts
/Data/Prefabs/barn_02.tts
/Data/Prefabs/barn_03.tts
/Data/Prefabs/blueberryfield_sm.tts
/Data/Prefabs/bombshelter_lg_01.tts
/Data/Prefabs/bridge_asphalt1.tts
/Data/Prefabs/bridge_asphalt2.tts
/Data/Prefabs/bridge_asphalt3.tts
/Data/Prefabs/bridge_concrete1.tts
/Data/Prefabs/bridge_wood1.tts
/Data/Prefabs/bridge_wood2_sm.tts
/Data/Prefabs/bridge_wood3_sm.tts
/Data/Prefabs/business_red_brick_01.tts
/Data/Prefabs/business_red_brick_02.tts
/Data/Prefabs/business_red_brick_03.tts
/Data/Prefabs/business_red_brick_04.tts
/Data/Prefabs/business_red_brick_05.tts
/Data/Prefabs/business_red_brick_06.tts
/Data/Prefabs/business_red_brick_07.tts
/Data/Prefabs/business_tan_brick_01.tts
/Data/Prefabs/business_tan_brick_02.tts
/Data/Prefabs/business_tan_brick_03.tts
/Data/Prefabs/business_tan_brick_04.tts
/Data/Prefabs/business_tan_brick_05.tts
/Data/Prefabs/cabin_01.tts
/Data/Prefabs/cabin_02_sm.tts
/Data/Prefabs/cabin_03_lg.tts
/Data/Prefabs/cabin_04_md.tts
/Data/Prefabs/cabin_05_lg.tts
/Data/Prefabs/cabin_06_lg.tts
/Data/Prefabs/cabin_snow_hidden_01.tts
/Data/Prefabs/campsite_01.tts
/Data/Prefabs/campsite_02.tts
/Data/Prefabs/campsite_03.tts
/Data/Prefabs/campsite_04.tts
/Data/Prefabs/campsite_06.tts
/Data/Prefabs/campsite_06a.tts
/Data/Prefabs/campsite_07.tts
/Data/Prefabs/campsite_07a.tts
/Data/Prefabs/carlot_01.tts
/Data/Prefabs/carlot_02.tts
/Data/Prefabs/cave_01.tts
/Data/Prefabs/cave_02.tts
/Data/Prefabs/cave_03.tts
/Data/Prefabs/cave_04.tts
/Data/Prefabs/cemetery_01.tts
/Data/Prefabs/cemetery_02.tts
/Data/Prefabs/church_graveyard1.tts
/Data/Prefabs/coal_form01.tts
/Data/Prefabs/cornfield_lg.tts
/Data/Prefabs/cornfield_med.tts
/Data/Prefabs/cornfield_sm.tts
/Data/Prefabs/cornstalk_01.tts
/Data/Prefabs/cornstalk_02.tts
/Data/Prefabs/desert_arch.tts
/Data/Prefabs/desert_form01.tts
/Data/Prefabs/desert_form02.tts
/Data/Prefabs/diersville_city_sign_01.tts
/Data/Prefabs/diner_01.tts
/Data/Prefabs/diner_02.tts
/Data/Prefabs/docks_01.tts
/Data/Prefabs/docks_02.tts
/Data/Prefabs/docks_03.tts
/Data/Prefabs/docks_04.tts
/Data/Prefabs/docks_05.tts
/Data/Prefabs/factory_lg_01.tts
/Data/Prefabs/factory_lg_02.tts
/Data/Prefabs/farm_drv1.tts
/Data/Prefabs/farm_fence_wood1.tts
/Data/Prefabs/farm_fence_wood2.tts
/Data/Prefabs/farm_shed1.tts
/Data/Prefabs/farm_shed2.tts
/Data/Prefabs/farm_shed3.tts
/Data/Prefabs/farm_shed4.tts
/Data/Prefabs/farm_walk1.tts
/Data/Prefabs/fence_crn_wd1.tts
/Data/Prefabs/fence_crn_wd2.tts
/Data/Prefabs/fence_ctr_nr1.tts
/Data/Prefabs/fence_ctr_nr2.tts
/Data/Prefabs/fence_ctr_nr3.tts
/Data/Prefabs/fence_ctr_wd1.tts
/Data/Prefabs/fence_ctr_wd2.tts
/Data/Prefabs/fence_pkt_nr1.tts
/Data/Prefabs/fence_pkt_nr2.tts
/Data/Prefabs/fence_pkt_wd1.tts
/Data/Prefabs/fence_pkt_wd2.tts
/Data/Prefabs/football_stadium.tts
/Data/Prefabs/garageblue1.tts
/Data/Prefabs/garagebrick.tts
/Data/Prefabs/garageburnt1.tts
/Data/Prefabs/garagegreen1.tts
/Data/Prefabs/garagestucco1.tts
/Data/Prefabs/garagetan1.tts
/Data/Prefabs/garagewhite1.tts
/Data/Prefabs/garageyellow1.tts
/Data/Prefabs/gas_station1.tts
/Data/Prefabs/gas_station2.tts
/Data/Prefabs/gas_station3.tts
/Data/Prefabs/gas_station4.tts
/Data/Prefabs/gas_station5.tts
/Data/Prefabs/gravestowne_city_sign_01.tts
/Data/Prefabs/hospital_01.tts
/Data/Prefabs/hotel_new_01.tts
/Data/Prefabs/houseblue1.tts
/Data/Prefabs/housebrick1.tts
/Data/Prefabs/houseburnt1.tts
/Data/Prefabs/houseburnt2.tts
/Data/Prefabs/houseburnt2_intact.tts
/Data/Prefabs/houseburnt3.tts
/Data/Prefabs/houseburnt3b.tts
/Data/Prefabs/houseburnt3_intact.tts
/Data/Prefabs/houseburnt4.tts
/Data/Prefabs/houseburnt4_intact.tts
/Data/Prefabs/houseburnt5.tts
/Data/Prefabs/houseburnt_deco1.tts
/Data/Prefabs/houseburnt_deco2.tts
/Data/Prefabs/housegreen1.tts
/Data/Prefabs/houseranchblue1.tts
/Data/Prefabs/houseranchtan1.tts
/Data/Prefabs/houseranchtan2.tts
/Data/Prefabs/houseranchwhite1.tts
/Data/Prefabs/housestucco1.tts
/Data/Prefabs/housestucco2.tts
/Data/Prefabs/housestucco3.tts
/Data/Prefabs/housetan2.tts
/Data/Prefabs/housetanpyramid2.tts
/Data/Prefabs/housewhite1.tts
/Data/Prefabs/housewhite1basement.tts
/Data/Prefabs/housewhite2.tts
/Data/Prefabs/housewhitepyramid1.tts
/Data/Prefabs/housewhitepyramid2.tts
/Data/Prefabs/housewhitepyramid3.tts
/Data/Prefabs/houseyellow1.tts
/Data/Prefabs/houseyellowpyramid3.tts
/Data/Prefabs/house_new_mansion_01.tts
/Data/Prefabs/house_new_mansion_02.tts
/Data/Prefabs/house_new_mansion_03.tts
/Data/Prefabs/house_trailer_blue_01.tts
/Data/Prefabs/house_trailer_burnt_01.tts
/Data/Prefabs/house_trailer_burnt_01_intact.tts
/Data/Prefabs/house_trailer_green_01.tts
/Data/Prefabs/house_trailer_tan_01.tts
/Data/Prefabs/house_trailer_white_01.tts
/Data/Prefabs/house_trailer_yellow_01.tts
/Data/Prefabs/hwy_overpass_sign_01.tts
/Data/Prefabs/indian_burial_grounds_01.tts
/Data/Prefabs/junkyard_lg_01.tts
/Data/Prefabs/junkyard_med_01.tts
/Data/Prefabs/lot_blk_full1.tts
/Data/Prefabs/lot_blk_full2.tts
/Data/Prefabs/mailbox1.tts
/Data/Prefabs/mp_waste_bldg_01_red.tts
/Data/Prefabs/mp_waste_bldg_01_tan.tts
/Data/Prefabs/mp_waste_bldg_01_white.tts
/Data/Prefabs/mp_waste_bldg_02_red.tts
/Data/Prefabs/mp_waste_bldg_02_tan.tts
/Data/Prefabs/mp_waste_bldg_03_intact.tts
/Data/Prefabs/mp_waste_bldg_03_red.tts
/Data/Prefabs/mp_waste_bldg_03_tan.tts
/Data/Prefabs/mp_waste_bldg_03_white.tts
/Data/Prefabs/mp_waste_bldg_04_grey.tts
/Data/Prefabs/mp_waste_bldg_04_red.tts
/Data/Prefabs/mp_waste_bldg_04_tan.tts
/Data/Prefabs/mp_waste_bldg_04_white.tts
/Data/Prefabs/mp_waste_bldg_05_grey.tts
/Data/Prefabs/mp_waste_bldg_06_grey.tts
/Data/Prefabs/mp_waste_bldg_06_intact.tts
/Data/Prefabs/mp_waste_bldg_07_intact.tts
/Data/Prefabs/mp_waste_bldg_governer_08.tts
/Data/Prefabs/mp_waste_bldg_ornate_01_intact.tts
/Data/Prefabs/mp_waste_bldg_ornate_02_intact.tts
/Data/Prefabs/mp_waste_bldg_ornate_03_intact.tts
/Data/Prefabs/mp_waste_cover_01.tts
/Data/Prefabs/mp_waste_cover_02.tts
/Data/Prefabs/mp_waste_hole_asphalt_01.tts
/Data/Prefabs/mp_waste_hole_rock_01.tts
/Data/Prefabs/mp_waste_lot1.tts
/Data/Prefabs/mp_waste_lot1_half.tts
/Data/Prefabs/mp_waste_lot1_quarter.tts
/Data/Prefabs/mp_waste_pile_01.tts
/Data/Prefabs/mp_waste_pile_02.tts
/Data/Prefabs/mp_waste_pile_03.tts
/Data/Prefabs/mp_waste_sewer_01.tts
/Data/Prefabs/mp_waste_sewer_hole_1.tts
/Data/Prefabs/mp_waste_sewer_hole_2.tts
/Data/Prefabs/mp_waste_spawn_01.tts
/Data/Prefabs/mp_waste_spawn_02.tts
/Data/Prefabs/mp_waste_tree_pile_01.tts
/Data/Prefabs/mp_waste_tree_pile_02.tts
/Data/Prefabs/oldwest_church.tts
/Data/Prefabs/oldwest_gallows.tts
/Data/Prefabs/oldwest_graveyard.tts
/Data/Prefabs/oldwest_hotel_01.tts
/Data/Prefabs/oldwest_hotel_02.tts
/Data/Prefabs/oldwest_jail.tts
/Data/Prefabs/oldwest_md_shop_01.tts
/Data/Prefabs/oldwest_md_shop_02.tts
/Data/Prefabs/oldwest_md_shop_03.tts
/Data/Prefabs/oldwest_md_shop_04.tts
/Data/Prefabs/oldwest_sm_shop_01.tts
/Data/Prefabs/oldwest_sm_shop_02.tts
/Data/Prefabs/oldwest_sm_shop_03.tts
/Data/Prefabs/oldwest_stables.tts
/Data/Prefabs/oldwest_watertower.tts
/Data/Prefabs/parking_garage_01.tts
/Data/Prefabs/parking_lot_01.tts
/Data/Prefabs/parking_lot_02.tts
/Data/Prefabs/parking_lot_03.tts
/Data/Prefabs/perishton_city_sign_01.tts
/Data/Prefabs/plains_blank_blk_half_01.tts
/Data/Prefabs/plains_housing_blk_01.tts
/Data/Prefabs/plains_hub_blk_half_01.tts
/Data/Prefabs/plains_mainstreet_blk_01.tts
/Data/Prefabs/plains_mainstreet_blk_02.tts
/Data/Prefabs/plains_mainstreet_blk_03.tts
/Data/Prefabs/plains_mainstreet_blk_04.tts
/Data/Prefabs/plains_mainstreet_blk_05.tts
/Data/Prefabs/plains_mainstreet_blk_06.tts
/Data/Prefabs/plains_mainstreet_median_01.tts
/Data/Prefabs/player_start1.tts
/Data/Prefabs/player_start2.tts
/Data/Prefabs/player_start3.tts
/Data/Prefabs/player_start4.tts
/Data/Prefabs/player_start5.tts
/Data/Prefabs/player_start6.tts
/Data/Prefabs/police_station1.tts
/Data/Prefabs/pond01.tts
/Data/Prefabs/pond02.tts
/Data/Prefabs/potassium_nitrate_form.tts
/Data/Prefabs/potatofield_sm.tts
/Data/Prefabs/power_pole_01.tts
/Data/Prefabs/ranger_station1.tts
/Data/Prefabs/rg_bridge_45_01.tts
/Data/Prefabs/rg_bridge_straight_01.tts
/Data/Prefabs/rg_cave_sm_01.tts
/Data/Prefabs/rg_cave_spawn_01.tts
/Data/Prefabs/rg_socket_road_straight_01.tts
/Data/Prefabs/rg_waste_hub_blk_full.tts
/Data/Prefabs/rg_waste_hub_blk_half.tts
/Data/Prefabs/rg_waste_hub_blk_quartered.tts
/Data/Prefabs/rg_waste_hub_blk_t.tts
/Data/Prefabs/road_railing_long_01.tts
/Data/Prefabs/road_railing_long_filled_01.tts
/Data/Prefabs/road_railing_short_01.tts
/Data/Prefabs/rock_form01.tts
/Data/Prefabs/rock_form02.tts
/Data/Prefabs/sawmill_01_snow.tts
/Data/Prefabs/school_01.tts
/Data/Prefabs/settlement_01.tts
/Data/Prefabs/sign_260_east_speed_65.tts
/Data/Prefabs/sign_260_west_speed_65.tts
/Data/Prefabs/sign_73_north.tts
/Data/Prefabs/sign_73_south.tts
/Data/Prefabs/sign_albuquerque.tts
/Data/Prefabs/sign_ansel_adams_river.tts
/Data/Prefabs/sign_arrowhead_apache.tts
/Data/Prefabs/sign_camp_fish.tts
/Data/Prefabs/sign_info_center1.tts
/Data/Prefabs/sign_navezgane_natl_forest.tts
/Data/Prefabs/sign_phoenix.tts
/Data/Prefabs/sign_slow.tts
/Data/Prefabs/sign_speed_25.tts
/Data/Prefabs/sign_speed_35.tts
/Data/Prefabs/sign_speed_45.tts
/Data/Prefabs/sign_speed_55.tts
/Data/Prefabs/sign_spillway_lake.tts
/Data/Prefabs/sign_stop.tts
/Data/Prefabs/sign_stop_4way.tts
/Data/Prefabs/snowy_ski_lodge.tts
/Data/Prefabs/store_bank_lg_01.tts
/Data/Prefabs/store_book_lg_01.tts
/Data/Prefabs/store_book_sm_01.tts
/Data/Prefabs/store_grocery_lg_01.tts
/Data/Prefabs/store_grocery_sm_01.tts
/Data/Prefabs/store_gun_lg_01.tts
/Data/Prefabs/store_gun_sm_01.tts
/Data/Prefabs/store_hardware_lg_01.tts
/Data/Prefabs/store_hardware_sm_01.tts
/Data/Prefabs/store_pharmacy_sm_01.tts
/Data/Prefabs/streets_essag.tts
/Data/Prefabs/streets_tran_and_lang.tts
/Data/Prefabs/street_apache.tts
/Data/Prefabs/street_bell_courtland.tts
/Data/Prefabs/street_coronado.tts
/Data/Prefabs/street_courtland_apache.tts
/Data/Prefabs/street_courtland_coronado.tts
/Data/Prefabs/street_courtland_east_260.tts
/Data/Prefabs/street_davis.tts
/Data/Prefabs/street_huenink_courtland.tts
/Data/Prefabs/street_lake_bell.tts
/Data/Prefabs/street_light_01.tts
/Data/Prefabs/street_light_02.tts
/Data/Prefabs/street_maple.tts
/Data/Prefabs/street_maple_courtland.tts
/Data/Prefabs/street_private.tts
/Data/Prefabs/street_tran_courtland.tts
/Data/Prefabs/theater_01.tts
/Data/Prefabs/tree_birch10m.tts
/Data/Prefabs/tree_birch12m.tts
/Data/Prefabs/tree_birch15m.tts
/Data/Prefabs/tree_bruntpine_cluster_01.tts
/Data/Prefabs/tree_bruntpine_cluster_02.tts
/Data/Prefabs/tree_burntpine_01.tts
/Data/Prefabs/tree_burntpine_02.tts
/Data/Prefabs/tree_burntpine_03.tts
/Data/Prefabs/tree_maple06m.tts
/Data/Prefabs/tree_maple13m.tts
/Data/Prefabs/tree_maple14m.tts
/Data/Prefabs/tree_maple15m.tts
/Data/Prefabs/tree_maple16m.tts
/Data/Prefabs/tree_maple17m.tts
/Data/Prefabs/tree_mountainpine06m.tts
/Data/Prefabs/tree_mountainpine08m.tts
/Data/Prefabs/tree_mountainpine13m.tts
/Data/Prefabs/tree_mountainpine16m.tts
/Data/Prefabs/tree_mountainpine19m.tts
/Data/Prefabs/tree_mountainpine20m.tts
/Data/Prefabs/tree_mountainpinedry.tts
/Data/Prefabs/underwater_pile_01.tts
/Data/Prefabs/underwater_pile_02.tts
/Data/Prefabs/underwater_pile_03.tts
/Data/Prefabs/utility_celltower_01.tts
/Data/Prefabs/utility_celltower_02.tts
/Data/Prefabs/utility_electric_co_01.tts
/Data/Prefabs/utility_waterworks_01.tts
/Data/Prefabs/vacant_lot_med_01.tts
/Data/Prefabs/vacant_lot_med_02.tts
/Data/Prefabs/vacant_lot_sm_01.tts
/Data/Prefabs/vacant_lot_sm_02.tts
/Data/Prefabs/waste_rubble_bldg_01.tts
/Data/Prefabs/waste_rubble_bldg_02.tts
/Data/Prefabs/waste_rubble_bldg_03.tts
/Data/Prefabs/waste_rubble_bldg_04.tts
/Data/Prefabs/waste_rubble_bldg_05.tts
/Data/Prefabs/waste_rubble_bldg_06.tts
/Data/Prefabs/waste_rubble_bldg_07.tts
/Data/Prefabs/waste_rubble_bldg_08.tts
/Data/Prefabs/water_tower_01.tts
/Data/Prefabs/water_tower_02.tts
